.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New", Arial, sans-serif;
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(58, 45, 71);
}

#pane {
    -fx-background-image: url("inv.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#rightBar{
    -fx-font-family: monospace;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(three-pass-box, silver, 20, 0.3, 0, 0);
    -fx-background-color : silver;
    -fx-text-fill: red;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-padding: 20px 20px;
}